/* body {
   
    background-color: black;
    background-image: url("spotlight.jpg");
    background-size: cover;
    font-family: "Roboto", sans-serif;
    color: white;
    min-height: 100vh;
} */

body {
    background: rgb(100, 0, 123);
    background: radial-gradient(
        circle,
        rgba(100, 0, 123, 1) 0%,
        rgba(62, 20, 86, 1) 100%
    );
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 2px;
    list-style-type: none;
    text-decoration: none;
    font-family: "Yanone Kaffeesatz", sans-serif;
    /* max-width: 1200px; */
    /* max-height: 100vh; */
}
/* RESGISTRATION BLACK SIDE */
/* header */
header {
    display: flex;
    padding: 40px;
    align-items: center;
}
header .title {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 0.6em;
}
nav .title {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 0.6em;
}

nav h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}
header h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}
header .afro-pic {
    width: 80px;
    overflow: visible;
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.motion-btn {
    color: white;
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid white;
    margin: 40px auto 0;
    cursor: pointer;
    opacity: 0.7;
}

.container {
    max-width: 300px;
    margin: 50px auto 40px;
}
.container h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container li {
    padding: 10px;
    cursor: pointer;
}

/* lists */
/* li span.active {
    font-weight: bold;
}
li span.active::before {
    content: ">";
    position: relative;
    top: -2px;
    margin-right: 6px;
    transform: scale(0.8, 1);
    display: inline-block;
} */

/* pages */
/* .home h2 {
    font-size: 2em;
    margin-bottom: 30px;
} */
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.style.container {
    text-align: center;

    /* max-width: 300px; */
}
.style.container a {
    text-decoration: none;
    color: white;
}

.style.container li {
    list-style-type: none;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    border: 5px solid white;
    border-radius: 50px;
    margin: 40px auto 0;
    cursor: pointer;
    opacity: 0.7;
}
.style.container li:hover {
    transform: scale(1.2);
}
/* .home button {
    color: white;
    padding: 15px 30px;
    font-size: 1.6em;
    border: 3px solid white;
    margin: 30px 20px;
} */
.order p {
    margin: 20px auto;
}
/* END REGISTRATION BLACK */
.icon {
    grid-area: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.input-group {
    /* top: 200px;
    position: absolute; */
    width: 200px;
    transition: 0.5s;
    color: black;
}

.input-group p {
    font-size: 10px;
}
.input-group a {
    color: black;
}
.input-field {
    /* margin-top: 10px; */
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    /* align-items: center; */
}

.reset-text {
    text-align: center;
    align-items: center;
    margin-right: 40%;
    /* margin: 40%; */
}

.login-text {
    font-size: 10px;
}
.login-text a {
    /* text-decoration: none; */
    color: black;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.button-box {
    left: 10%;
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px #ff61241f; */
    border-radius: 30px;
}

.form-box {
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 45vh; */
    /* max-width: 280px; */
    position: relative;
    /* margin: 6% auto; */
    /* background: #fff; */
    padding: 5px;
    border-radius: 5%;
    overflow: hidden;
}
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("performance.jpg"); */
    border-top: 3px solid white;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    opacity: 0.9;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 118px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad86);
    border-radius: 30px;
    transition: 0.5s;
}

.submit-btn {
    width: 50%;
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    /* background: linear-gradient(to right, #ff105f, #ffad86); */
    background: rgb(100, 0, 123);
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 30px;
    border: 1px solid white;
}
#login {
    left: 50px;
}

#register {
    left: 450px;
}

.avatar,
.camera {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.uploader {
    border: 3px dashed white;
    /* width: 250px;
    height: 250px; */
    /* align-items: center; */
    max-width: 500px;
    /* max-height: 300px; */
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.upload-btn {
    background-color: #5d4954;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 5px;
}

/* textarea {
    border: 5px dashed black;
    width: 250px;
    height: 250px;
} */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3vh;
    padding: 40px;

    /* font-family: "Poppins", sans-serif; */
    /* background-color: #5d4954; */
    /* background-color: rgb(100, 0, 123); */
    /* background-color: black; */
    /* color: black; */
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

textarea {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* background: black; */
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: #ffd700;
    min-height: 4em;
    padding: 1em 2em;
    font: 1em/150% sans-serif;
    position: relative;
    /* background-color: brown; */
}

textarea::before,
textarea::after {
    position: absolute;
    height: 3rem;
    font: 6rem/100% Georgia, "Times New Roman", Times, serif;
}

textarea::before {
    content: "“";
    top: 0.3rem;
    left: 0.9rem;
}

textarea::after {
    content: "”";
    bottom: 0.3rem;
    right: 0.8rem;
}

textarea:lang(fr)::before {
    content: "«";
    top: -1.5rem;
    left: 0.5rem;
}

textarea:lang(fr)::after {
    content: "»";
    bottom: 2.6rem;
    right: 0.5rem;
}

textarea i {
    display: block;
    font-size: 0.8em;
    margin-top: 1rem;
    /* text-style: italic; */
    text-align: right;
}
.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

/* user profile */
.card {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem; */

    border-radius: 10px;
    margin: auto;
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
    width: 300px;
    height: 300px;
    /* margin-top: 50px; */
    box-shadow: 10px 20px 50px black;
    background: rgb(173, 154, 170);

    /* margin-right: 50%; */
    /* border: 3px solid black; */
    /* box-shadow: 5px 10px 25px rgb(220, 173, 234); */
    /* opacity: 0.8; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* max-height: 300px; */
}

.card p {
    font-family: "Yanone Kaffeesatz", sans-serif;
    /* border-bottom: 1px solid black; */
}

.gallery-pic {
    /* border: 2px solid black; */
    border-radius: 4px;
    padding: 0.5rem;
}

.img-gallery {
    /* position: absolute; */
    /* border: 2px solid black; */
    height: 40vh;
    width: 40vh;
    /* border-radius: 4px; */
    /* padding: 0.5rem; */
}

/* .gallery {
    width: 0%;
    height: 200px;
    background: blue;
    color: white;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
} */

.card-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    /* color: black; */
}

/* .save-btn {
    background: linear-gradient(to right, #ff105f, #ffad86);
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
} */

.save-btn {
    color: black;
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid black;
    /* margin: 40px auto 0; */
    cursor: pointer;
    /* opacity: 0.7; */
    margin-top: 120px;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

.save-btn:hover,
a:hover {
    opacity: 0.7;
}

.blinking {
    text-align: center;
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText {
    0% {
        color: black;
    }
    49% {
        color: black;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: black;
    }
}

img {
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-top: 30px;
}

h1 {
    align-items: center;
    color: white;
}

.profile-name {
    color: white;
}

.bio-container {
    text-align: center;
}

.bio-text {
    color: black;
    /* margin-bottom: 100px; */
    /* border-top: 1px solid black; */
}

.show-all {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.friends-container,
.wannabes-container,
.pending-container {
    background-color: rgb(88, 35, 88);
    text-align: center;
    margin-top: 20px;
    color: white;
    padding: 1rem;
    height: 5rem;
}

.accepted-friends img {
    width: 20vh;
    height: 20vh;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.wannabes img,
.pending-user img {
    width: 20vh;
    height: 20vh;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.btn-wannabes,
.btn-friends,
.btn-pending {
    background-color: #5d4954;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Screen larger than 900px? 3 column */
@media (min-width: 900px) {
    .show-all {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* @media (max-height: 900px) {
    .form-box {

    }
} */

.searchppl-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    flex-direction: rows;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.user-search {
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
}
.column {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-left: 100px;
    margin-top: 150px;
    /* border: solid 3px goldenrod; */
    align-items: center;
    text-align: center;
    border: solid 3px rgb(220, 173, 234);
}

.p-column {
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.search-input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
    border-radius: 10px;
    width: 20%;
    font: outline;
    align-items: center;
    transform: translateX(525%);
}

.error-message {
    color: red;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Chat containers */
.chat-container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    color: black;
    opacity: 0.7;
    border: 5px solid black;
}
.chat-container h2 {
    text-align: center;
}

.chatter-container {
    background-color: #f1f1f1;
    border: 2px solid red;
    /* background-color: black; */
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    height: 30%;
    color: white;
}

.chatter-container {
    /* border-color: blue; */
    /* border-color: #5d4954; */
    border: 2px solid #5d4954;
    /* background-color: white; */
    background-color: black;
    height: 10vh;
}

/* Clear floats */
.chatter-container :after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chatter-container img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* max-width: 100px; */
    /* width: 15%; */
    margin-right: 10px;
}

/* Style the right image */
.chatter-container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.chat-box {
    position: relative;
    /* float: left; */
    width: 70%;
    height: 6vh;
    left: 25%;
    margin-top: 2px;
    border: 1px solid #ffd700;
    border-radius: 5px;
}
.chat-box p {
    text-align: left;
}

.delete-chat button {
    display: inline-block;
    /* background-color: #802205; */
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5%;
    /* padding: 16px 32px; */
    /* font-size: 16px; */
    /* margin: 4px 2px; */
}

.delete-chat button:hover {
    opacity: 1;
}

.delete-profile-pic {
    background-color: #5d4954;
    color: white;
    border: none;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    /* margin-bottom: 20px; */
    /* border-radius: 8%; */
}

.chat-text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.chat-text-area textarea {
    width: 70%;
    height: 6vh;
    margin-top: 2px;
    border: 1px solid #ffd700;
    border-radius: 5px;
}
.send-chat {
    background-color: #5d4954;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 8%;
    /* background: linear-gradient(to right, #ff105f, #ffad86); */
}

.welcome-tag,
.text-registration {
    text-align: center;
    font-family: "Bebas Neue", cursive;
}
.music-play {
    height: 6vh;
    width: 6vh;
}

/* LOADER */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
/* END LOADER */

/* SPLIT SCREEN */
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #111;
}

/* Control the right side */
.right {
    right: 0;
    background-color: rgb(100, 0, 123);
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}
/* END SPLIT SCREEN */

.selected-style {
    border-radius: 10px;
    margin: auto;
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
    max-width: 400px;
    margin-top: 50px;
    /* margin-right: 50%; */
    /* border: 3px solid black; */
    /* box-shadow: 5px 10px 25px rgb(220, 173, 234); */
    background-color: white;
    opacity: 0.8;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);s */
    /* max-height: 300px; */
}
.selected-desc {
    color: black;
}
.selected-style h1 {
    color: black;
}

.selected-style a {
    background-color: #5d4954;
    color: white;
    border: none;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 50px;
}
.selected-pic {
    width: 200px;
    height: 200px;
}

.homepage-btn {
    color: white;
    padding: 10px 30px;
    font-size: 0.5em;
    background: transparent;
    border-radius: 50px;
    border: 3px solid white;
    margin: 10px auto 0;
    cursor: pointer;
    opacity: 0.7;
    align-items: center;
}

.card a {
    color: black;
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid black;
    margin: 40px auto 0;
    cursor: pointer;
    /* opacity: 0.7; */
    margin-bottom: 5px;
    text-decoration: none;
}
